# ignore a single file
config.py

# ignore an entire directory
/__pycache__/
/bkup/
/venv/

# ignore a file type
#*.json

# add an exception (using !) to the preceding rule to track a specific file
#!package.json